body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


#buttonFavoris {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #333;
  background: #fff;
  box-shadow: 0 3px 20px 0 #0000003b;
  font-size: normal;
  width: 150px;
  height: auto;
  margin-top: -20px;
}
#buttonFavoris:hover{
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.01);
}
#buttonDeleteFavoris{
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #333;
  background: #fff;
  box-shadow: 0 3px 20px 0 #0000003b;
  font-size: normal;
  width: 200px;
  height: auto;
  margin-top: -20px;
  margin-left: 1vw;
  font-weight: bold;
}
#buttonDeleteFavoris:hover{
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.01);
}
#buttonGetAmelioration {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #333;
  background: #fff;
  box-shadow: 0 3px 20px 0 #0000003b;
  font-size: normal;
  width: 250px;
  height: auto;
  margin-top: -20px;
  margin-left: 1vw;
  font-weight: bold;
}
#buttonGetAmelioration:hover{
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.01);
}

a{
    text-decoration: none;
}

header{
    position: sticky;
    top: 0;
    border: thin solid black;
    z-index: 1;
}

#listView{
    list-style: none;
    padding: 0;
    margin-top: 100px;
}

#listView > h2{
    text-align: center;
    font-size: 2em;
    margin: 20px 0;

}

#listView ol {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

#noFavoris{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    flex-direction: column;
    height: calc(100vh - 80px);
}

#showItem{
    margin-top: 100px;
}

#lineItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-left: 5vw;
}

#descItem {
  background-color: black;
  color: white;
  border-radius: 50px; 
  padding: 20px;
  margin-right: 5vw;
  font-size: large;
  width: 50vw;
}

#imgItem {
  width: 30vw;
  height: auto;
}

#centeredSection {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  margin: auto;
  flex-direction: row
}

.tableContainer {
  flex: 1;
  margin: 0 10px;
}

#centeredSection > .tableContainer > table {
  border-collapse: collapse;
  border: 1px solid black;
}

#centeredSection table img {
  width: 100px;
  height: auto;
}

table tr {
  border-bottom: 1px solid black;
}

.tableContainer table td {
  border-left: 1px solid black;
}

/* CARTES */

figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
  }
  figure > * {
    grid-area: 1/1;
    transition: .4s;
  }
  figure figcaption {
    display: grid;
    align-items: end;
    font-family: sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    color: #0000;
    padding: .75rem;
    background: var(--c,#0009);
    clip-path: inset(0 var(--_i,100%) 0 0);
    -webkit-mask:
      linear-gradient(#000 0 0),
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    -webkit-mask-clip: text, padding-box;
    margin: -1px;
  }
  figure:hover figcaption{
    --_i: 0%;
  }
  figure:hover img {
    transform: scale(1.2);
  }
  @supports not (-webkit-mask-clip: text) {
    figure figcaption {
     -webkit-mask: none;
     color: #fff;
    }
  }
